%section
  %h2
    About
  
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, mollitia, error reprehenderit cum similique placeat nihil minus, sunt enim inventore dolores, hic. Sint quasi quae cum, praesentium, sit omnis repellat placeat consectetur provident, ad ducimus optio tempora quam fuga accusantium nostrum. Non, debitis, enim? Iure labore tempore, placeat error nemo, dolore et voluptates quibusdam necessitatibus provident est facere consequuntur nulla. Quam eius, molestias optio. Dicta ad quas accusantium corporis cum sit sed esse rerum earum a illo est, necessitatibus odio possimus at, dolorem veritatis hic quam temporibus. Ullam optio rerum, perspiciatis, voluptas ab explicabo eveniet illo praesentium, quo ad saepe?

  .actions
    %a.btn.btn-default{ href: "", :"ng-href" => "#/welcome/" }
      Welcome