%section
  %h2
    Welcome

  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. In repellat magni iste nihil laborum architecto numquam vel itaque qui quidem, totam nulla beatae illum esse assumenda quisquam mollitia. Totam in, similique maxime nostrum numquam adipisci fuga quas at dolorum odit. Voluptas possimus veniam, quidem at nam quis aspernatur minima, optio placeat aperiam quae repellendus nostrum, commodi et modi nobis reprehenderit earum praesentium magnam. Minima vel aliquam hic sunt? Quae, nesciunt, earum! Harum vitae reprehenderit dolorem similique doloribus aut, minus, molestias quas? Suscipit exercitationem id porro eveniet recusandae perspiciatis consectetur maiores. Quis laboriosam fugiat minima, sequi ex dolor voluptates accusantium commodi eum beatae, ratione officiis sed ullam doloremque eos. Nulla officia aliquid voluptatibus, alias cumque ducimus perspiciatis. Sapiente, temporibus, harum. In magni repellendus voluptate blanditiis hic sit officia. Porro quam illo rem tempore vitae ab. Eos natus, quod accusamus assumenda, magni quo rerum blanditiis mollitia, nulla voluptatibus ad fugiat explicabo quibusdam eligendi minus. Minima cumque quo a eaque! Nihil possimus, nesciunt eveniet, nobis similique officia tempore quisquam vel! Autem sed inventore iusto, delectus id ipsa animi molestias sint nobis maxime! Quo, reiciendis quia excepturi beatae, sequi ipsam ullam quidem in iste magni harum. Eos ut ad commodi modi est autem dignissimos.

  .actions
    %a.btn.btn-default{ :"ng-href" => "about" }
      About us