#sidebar
  %ul.nav.navbar-nav
    %li{ :"ng-class" => "isCurrentPage('welcome')" }
      %a{ href: "", :"ng-href" => "welcome" }
        .vcenter.glyphicon.glyphicon-home
        .vcenter Welcome

    %li{ :"ng-class" => "isCurrentPage('about')" }
      %a{ href: "", :"ng-href" => "about" }
        .vcenter.glyphicon.glyphicon-edit
        .vcenter About